* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: linear-gradient(#F9FCFF 38%, #DEE4EA);
  background-attachment: fixed;
  color: rgb(13, 35, 95);
}

#container {
  max-width: 580px;
  margin: auto;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 60px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
nav p {
  font-size: 1rem;
}
nav span {
  font-size: 0.7rem;
}

.main-title {
  font-family: "Playpen Sans", cursive;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 10px;
  padding: 0 40px;
}

.main-desc {
  margin: 60px 0;
  padding: 0 40px;
  text-align: center;
  font-size: 0.92rem;
  font-weight: 500;
}

#gallery {
  width: 100%;
  height: 750px;
  display: grid;
  gap: 10px;
  padding: 0 10px;
  grid-template-areas: "satu satu tiga" "tujuh empat empat" "lima lima lima" "lima lima lima" "dua dua enam" "delapan sembilan sembilan";
  grid-template-columns: 1fr 1fr 1fr;
}
#gallery div {
  background-color: aqua;
}
#gallery :nth-child(1) {
  grid-area: satu;
  background: url(img/1.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(2) {
  grid-area: dua;
  background: url(img/2.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(3) {
  grid-area: tiga;
  background: url(img/3.jpeg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(4) {
  grid-area: empat;
  background: url(img/4.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(5) {
  grid-area: lima;
  background: url(img/5.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(6) {
  grid-area: enam;
  background: url(img/6.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(7) {
  grid-area: tujuh;
  background: url(img/7.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(8) {
  grid-area: delapan;
  background: url(img/8.jpg);
  background-position: center;
  background-size: cover;
}
#gallery :nth-child(9) {
  grid-area: sembilan;
  background: url(img/9.jpg);
  background-position: center;
  background-size: cover;
}

.text {
  margin: 60px 0;
  padding: 0 20px;
  text-align: center;
  font-size: 0.92rem;
  font-weight: 500;
}
.text h2 {
  font-style: italic;
  margin-bottom: 20px;
}
.text p {
  line-height: 24px;
}
.text a {
  text-decoration: none;
}
.text a:hover {
  text-decoration: underline;
}

footer {
  padding: 20px 35px 45px 35px;
  margin: auto;
  max-width: 720px;
  border-radius: 30px 30px 0 0;
  font-size: 0.85rem;
  font-weight: 500;
  background-color: rgba(20, 46, 117, 0.7);
  color: white;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(0, 0, 0) 0px 0px 55px -20px;
}
footer div {
  color: white;
}
footer a {
  font-size: 1rem;
  font-weight: 800;
  font-style: italic;
  text-shadow: black 1px 3.5px 10px;
  color: white;
  text-decoration: none;
}
footer .cursor {
  position: absolute;
  transform: translateY(235%);
  right: 20%;
  opacity: 0.3;
}

@media only screen and (max-width: 780px) {
  footer {
    margin: 40px 4% 0 4%;
  }
  footer p {
    font-size: 0.7rem;
  }
  footer a {
    font-size: 0.85rem;
  }
}/*# sourceMappingURL=style.css.map */